.americanCoffee, .coffeeMilk, .sandwich, .juice{
    background-color: #f8ecfe;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    color: #590782;
    margin-top: 30px;
    position: relative;
    font-weight: bold;
}