.orderClient1{
    width: 100%;
    height: 100%;
    display: block;
    /* text-align: center */
}

.orderClient2{
    width: 100%;
    display: block;
    text-align: left;
    

}

.orderClient3{
    width: 30%;
    position: relative;
    margin: auto;
    border-style: outset; 
    border-width: 4px;
    border-color: #590782;
    border-radius: 10px;
    margin-top: 10px;
    font-family: arial;

}

.titleOrder{
    font-weight: bold;
    margin: 8px;
    justify-content: center;
    position: relative;
    left: 30%;

}

.listOrderClient{
    margin: 4px;
    align-content: flex-end;
}

.btnreturn{
position: relative;
left: 50%;
top: 50px;
background-color: #590782;
color: white;
/* text-align: center; */
text-decoration: none;
font-size: 15px;
cursor: pointer;
border-radius: 10px;
width: 100px;
height: 30px;
margin-top: 5px;
margin-bottom: 30px;
}

.contentbtn{
    display: flex;
}

