.water, .waterBig, .soda, .bigSoda{
    background-color: #f8ecfe;
    color: #590782;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    margin-top: 30px;
    height: 60px;
    width: 300px;
    font-weight: bold;
}

